<div class='card-content'>
    <ul>
        <li><img src="{{image_data}}" alt=""></li>
        <li>Title: {{title}}</li>
        <li>Details: {{details}}</li>
        <li>Artist: {{original_painter}}</li>
        <li>Price:</li>
    </ul>
</div>
<hr>
