<div class='card-content'>
    <ul>
        <li>Image: {{image_data}}</li>
        <li>Title: {{title}}</li>
        <li>Details: {{details}}</li>
        <li>Artist: {{original_painter}}</li>
        <li>Price:</li>
    </ul>
</div>
<hr>
