<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Galleria</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href='/css/style.css'>
  </head>
  <body>
  <section class="hero hero-img is-info is-halfheight">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger has-background-white" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href='/login'>
              Log-In
            </a>
            <a class="navbar-item" href='/signup'>
              Sign-Up
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered fade-in-text">
      <p class="title">
        Galleria
      </p>
      <p class="subtitle">
        The Future of Buying and Selling Art
      </p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="has-background-info-dark">
            <a href='/'>Overview</a>
          </li>
          <li class='has-background-white has-text-black'>
            <a href='/gallery'>Browse the Galleries</a>
          </li>
          <li class='has-background-white has-text-black'>
            <a>Meet the Team</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
 {{{body}}}
  </body>
</html>