<section class="section">
    <div class="container">
    <div class="dropdown">
  <div class="dropdown-trigger">
  Search by:
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Price Low-to-High</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a href="/gallery" class="dropdown-item">
        Most Recent
      </a>
      <a href="/gallery/oldest" class="dropdown-item">
        Oldest First
      </a>
      {{!-- <a href="/gallery/category" class="dropdown-item">
        Category
      </a>
      <a href="/gallery/tag" class="dropdown-item">
        Tag
      </a> --}}
      <a href="/gallery/pricelowtohigh" class="dropdown-item is-active">
        Price Low-to-High
      </a>
      <a href="/gallery/pricehightolow" class="dropdown-item">
        Price High-to-Low
      </a>
      <a href="/gallery/artistname" class="dropdown-item">
        Artist Name
      </a>
      <a href="/gallery/artworkname" class="dropdown-item">
        Artwork Name
      </a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-image image-left">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Artwork Name</p>
        <p class="subtitle is-6">Artist Name</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a href="#">@artist</a>.
      <a href="#">Categories</a> <a href="#">Tags</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>
    </div>
</section>

<script>           
  document.addEventListener('DOMContentLoaded', function () {
  var dropdown = document.querySelector('.dropdown');                         
  dropdown.addEventListener('click', function(event) {
    event.stopPropagation();                          
    dropdown.classList.toggle('is-active');
    });
  });
</script>