 <section class="section">
    <div class="container">
      <div class='columns is-centered is-vcentered'>
        <div class='column card'>
          <div class='card-content'>
            Are you looking for a better way to buy and sell artwork? The search is over! We here at Galleria have built the perfect online platform for buying and selling art from the comfort of your home.
          </div>
          <div class='card-content'>
            Please feel free to browse our galleries to dicsover the beautiful, timeless collections we have to offer from our users. When you find a piece you wish to purchase, or if you wish to list a piece of art yourself, please create a free account to enjoy the great functionality of our website! 
          </div>
        </div>
        <div class='column is-flex is-horizontal-center'>
          <img src='https://theculturetrip.com/wp-content/uploads/2017/02/767px-gustav_klimt_016.jpg' />
        </div>
      </div>
      </div>
  </section>