<section class="section">
      <section class="hero box is-small is-primary is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Log-In
            </h1>
          </div>
        </div>
      </section>
    </section>
  </body>
<form class="box card ml-3 login-form" style="width: 60%;">
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email" placeholder="e.g. alex@example.com" id='email'>
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********" id='password'>
    </div>
  </div>

  <button type='submit' class="button is-primary">Sign in</button>
</form>

<script src='/js/login.js'></script>