<section class="section">
      <section class="hero box is-small is-primary is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Meet the Galleria Team
            </h1>
          </div>
        </div>
      </section>
    </section>
    <div class='columns'>
      <aside class='column is-one-fifth menu'>
        <ul class="menu-list">
          {{!-- <li><a class='is-active' href='/profile'>View/Edit Profile</a></li> --}}
          <li><a href='/profile'>Katherine Seeburger</a></li>
          <img src="https://avatars.githubusercontent.com/u/77696374?s=80&v=4" alt="Katherin">
          <li><a href='/profile'>Cristobal Canales </a></li>
          <img src="https://avatars.githubusercontent.com/u/78707538?s=64&v=4" alt="Cris">
          <li><a href='/profile'>Max Quintanilla</a></li>
          <img src="https://avatars.githubusercontent.com/u/74144055?s=80&v=4" alt="Max">
          <li><a href='/profile'>Luis Cuevas</a></li>
          <img src="https://avatars.githubusercontent.com/u/77597209?s=64&v=4" alt="Louis">
          <li><a href='/profile'>Syed Rizvi</a></li>
          <img src="https://avatars.githubusercontent.com/u/73893573?s=120&v=4" alt="Syed">
        </ul>
      </aside>

      </div>

      
<h1 class='text-center'>COMING SOON</h1>
