<section class="section">
  <section class="hero box is-small is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Meet the Galleria Team</h1>
      </div>
    </div>
  </section>
</section>
<div class="columns">
  <aside class="column is-one-fifth menu">
    <ul class="menu-list is-flex is-flex-direction-row is-centered" style="width: 100%;">
      <li>
        <a href="https://github.com/kthendavid04" target="_blank">Katherine Seeburger
          <img src="https://avatars.githubusercontent.com/u/77696374?s=80&v=4" alt="Katherine">
        </a>
      </li>
      <li>
        <a href="https://github.com/CrisC3" target="_blank">Cristobal Canales
          <img src="https://avatars.githubusercontent.com/u/78707538?s=64&v=4" alt="Cris">
        </a>
      </li>      
      <li>
        <a href="https://github.com/the64man1" target="_blank">Max Quintanilla
          <img src="https://avatars.githubusercontent.com/u/74144055?s=80&v=4" alt="Max">
        </a>
      </li>
      <li>
        <a href="https://github.com/CuevasLuis" target="_blank">Luis Cuevas
          <img src="https://avatars.githubusercontent.com/u/77597209?s=64&v=4" alt="Luis">
        </a>
      </li>
      <li>
        <a href="https://github.com/rizvi5a" target="_blank">Syed Rizvi
          <img src="https://avatars.githubusercontent.com/u/73893573?s=120&v=4" alt="Syed">
        </a>
      </li>
    </ul>
  </aside>
</div>