<section class="section">
      <section class="hero box is-small is-primary is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Sign-Up
            </h1>
          </div>
        </div>
      </section>
    </section>
  </body>
  <form class="box card ml-3" style="width: 60%;">
    <div class="field">
      <label class="label">First Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g. John">
      </div>
    </div>
    <div class="field">
      <label class="label">Last Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g. Smith" id='firstname'>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="e.g. jsmith@email.com" id='lastname'>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="********" id='password'>
      </div>
    </div>
    <div class="field">
      <label class="label">Address</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g. 123 Fake Street, Houston TX 77054" id='address'>
      </div>
    </div>
    <div class="field">
      <label class="label">Bank Info</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g. 1234567890" id='bankinfo'>
      </div>
    </div>
    <button class="button is-primary">Create Account</button>
  </form>